<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{dish.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{dish.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/dishs/add}" th:text="#{dish.list.createNew}" class="btn btn-primary ms-2" />
                </div>
            </div>
            <div th:if="${dishs.empty}" th:text="#{dish.list.empty}" />
            <div th:if="${!dishs.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{dish.id.label}" scope="col" />
                            <th th:text="#{dish.name.label}" scope="col" />
                            <th th:text="#{dish.price.label}" scope="col" />
                            <th th:text="#{dish.quantity.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="dish : ${dishs}">
                            <td th:text="${dish.id}" />
                            <td th:text="${dish.name}" />
                            <td th:text="${dish.price}" />
                            <td th:text="${dish.quantity}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/dishs/edit/{id}(id=${dish.id})}" th:text="#{dish.list.edit}" class="btn btn-sm btn-info" />
                                    <form th:action="@{/dishs/delete/{id}(id=${dish.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button th:text="#{dish.list.delete}" type="submit" class="btn btn-sm btn-danger" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
